{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>Maryla Rodowicz</h1>
        <h2>Kolorowe jarmarki</h2>
        <p>
Kiedy patrze hen za siebie </br>
W tamte lata co minęły </br>
Kiedy myślę co przegrałam </br>
A co diabli wzięli</br>
Co straciłam z własnej woli </br>
A co przeciw sobie </br>
Co wyliczę to wyliczę </br>
Ale zawsze wtedy powiem,</br>
Że najbardziej mi żal: 
        </p>
        <p>
Kolorowych jarmarków, blaszanych zegarków</br> 
Pierzastych kogucików, baloników na druciku </br>
Motyli drewnianych, koników bujanych </br>
Cukrowej waty i z piernika chaty
        </p>
        <p>
Tyle spraw już mam za sobą</br>
Coraz bliżej jesień płowa</br>
Już tak wiele przeszło obok</br>
Już jest co żałować</br>
Małym rzeczom zostajemy</br>
W pamiętaniu wierni</br>
Zamiast serca noszę chyba</br>
Odpustowy piernik, </br>
Bo najbardziej mi żal:
        </p>
        <p>
Kolorowych jarmarków, blaszanych zegarków </br>
Pierzastych kogucików, baloników na druciku / 2</br>
Motyli drewnianych, koników bujanych </br>
Cukrowej waty i z piernika chaty.</br>
        </p>
        <p>
Kolorowych jarmarków</br>
I z piernika chaty.
        </p>
    
    
    </article>
{% endblock %}